@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

a {
  @apply hover:text-space-light-blue;
}

body {
  @apply bg-space-black text-space-white;
}

h1 {
  @apply text-4xl font-bold text-space-light-blue mb-4;
}

h2 {
  @apply text-space-white text-2xl font-bold border-b-2 border-space-gray mb-4;
}

strong {
  @apply text-space-light-blue;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
